.cardsBox {
    height: 100vh;
    display: flex;
    margin: 0;
    // background: linear-gradient(135deg, #f53844, #fc9842);
    background: linear-gradient(135deg, #ffffff, #ffe4e1);
    // background: linear-gradient(135deg, #ffffff, #e6e6fa);
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.group {
text-align: center;
white-space: nowrap;
overflow: hidden;
}

.item {
    width: 12vw;
    height: 75vh;
    background-position: top;
    background-size: cover;
    margin: 0.7vw;
    border-radius: 2.5vw;
    display: inline-block;
    cursor: pointer;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease;
}
  